*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
    height:100vh;
    position: relative;
    background-image:url("gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: left;
    height: 50px;
    margin-top: 20px;
    margin-left: 40px;
    letter-spacing: 1px;
}
h1:hover{
    transition: 1s;
    color:white;
}
.btn{
    position: absolute;
    top:1px;
    right:50px;
    padding: 10px;
    font-weight: bold;
}
.btn:active{
    transform: translateY(4px);
    box-shadow: 3px 3px #666;
}
.btn:hover{
    background-color: black;
    color:white;
}
.center{
    text-align: center;
}
table{
    width:100%;
    height:500px;
    border-collapse: collapse;
}
td{
    padding: 10px 25px;
    font-weight: bold;
    font-size: 20px;
}
img{
    border-radius: 50%;;
}
img:hover{
    transform: scale(1.3);
}
.line{
    border:2px solid black;
}
.one:hover{
    background-color: yellow;
    border-radius: 15px;
}
.two:hover{
    background-color:yellow;
    border-radius: 15px;
}

.three:hover{
    background-color: yellow;
    border-radius: 15px;
}
.four:hover{
    background-color: yellow;
    border-radius: 15px;
}
.five:hover{
    background-color: yellow;
    border-radius: 15px;
}
.six:hover{
    background-color: yellow;
    border-radius: 15px;
}

#data{
    justify-content: center;
    display: flex;
    padding-top: 20px;
}